<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/addQuestion/fontAwesome4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/addQuestion/richtext.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/addQuestion/jquery.richtext.min.js"></script>
    <script src="/js/authorization.js"></script>
</head>
<body>
<div style="flex: 1 0 auto; padding-left: 270px; padding-top: 86px;">
    <form id="createQuestionDto">
    <div class="container-fluid ">
        <div class="row">
            <div class="d-grid gap-2 col-4 mx-auto p-1 text-center">
                <div class="mb-3">
                    <p class="h1">Задать вопрос</p>
                </div>

                <div class="mb-3">
                    <label for="title" class="form-label">Название вопроса</label>
                    <input type="text" class="form-control" id="title" placeholder="Напр: Проблема с открытием модального окна">
                </div>

                <div class="mb-3">
                    <label for="editor" class="form-label">Описание</label>
                    <textarea class="content" name="editor" id="editor"></textarea>
                </div>

                <div class="mb-3">
                    <label for="tags" class="form-label">Тэги</label>
                    <input type="text" class="form-control" id="tags" placeholder="Перечислите через ; Напр: Spring; ThymeLeaf; Modal">
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Опубликовать</button>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>
<script type="text/javascript" src="/js/sidebar.js"></script>
<script type="text/javascript" src="/js/header.js"></script>
<script type="text/javascript" src="/js/footer.js"></script>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        $('#editor').richText();
    });
</script>
</html>