<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="src/main/resources/static/css/style.css">
</head>
<body>

<div style="flex: 1 0 auto; padding-left: 270px; padding-top: 86px;">
    <h2>Плов по-фергански</h2>
    <p>Положить в казан нарезанное кусочками мясо и поджарить его до
        образования корочки. Нашинкованный кольцами лук жарить вместе
        с мясом до красноватого цвета, затем добавить морковь, нарезанную
        соломкой. Положить половину соли, всё перемешать и жарить, пока
        морковь не приобретёт золотисто-коричневый цвет. После этого налить
        половину необходимого количества воды и дать закипеть.</p>
    <p>Засыпать ровным слоем рис, усилить огонь и тотчас налить воду,
        чтобы она накрыла рис на 1–1,5 см. Как только вода выпарится, плов
        при помощи шумовки собрать к середине горкой, проколоть палочкой в
        нескольких местах так, чтобы вода, находящаяся на поверхности,
        прошла на дно. Затем накрыть плов и дать ему упреть 20–25 мин.</p>
    <p>Тщательно перемешайте готовый плов, переложите в большое блюдо,
        сверху разложите мясо.</p>
    <h2>Плов по-фергански</h2>
    <p>Положить в казан нарезанное кусочками мясо и поджарить его до
        образования корочки. Нашинкованный кольцами лук жарить вместе
        с мясом до красноватого цвета, затем добавить морковь, нарезанную
        соломкой. Положить половину соли, всё перемешать и жарить, пока
        морковь не приобретёт золотисто-коричневый цвет. После этого налить
        половину необходимого количества воды и дать закипеть.</p>
    <p>Засыпать ровным слоем рис, усилить огонь и тотчас налить воду,
        чтобы она накрыла рис на 1–1,5 см. Как только вода выпарится, плов
        при помощи шумовки собрать к середине горкой, проколоть палочкой в
        нескольких местах так, чтобы вода, находящаяся на поверхности,
        прошла на дно. Затем накрыть плов и дать ему упреть 20–25 мин.</p>
    <p>Тщательно перемешайте готовый плов, переложите в большое блюдо,
        сверху разложите мясо.</p>
    <h2>Плов по-фергански</h2>
    <p>Положить в казан нарезанное кусочками мясо и поджарить его до
        образования корочки. Нашинкованный кольцами лук жарить вместе
        с мясом до красноватого цвета, затем добавить морковь, нарезанную
        соломкой. Положить половину соли, всё перемешать и жарить, пока
        морковь не приобретёт золотисто-коричневый цвет. После этого налить
        половину необходимого количества воды и дать закипеть.</p>
    <p>Засыпать ровным слоем рис, усилить огонь и тотчас налить воду,
        чтобы она накрыла рис на 1–1,5 см. Как только вода выпарится, плов
        при помощи шумовки собрать к середине горкой, проколоть палочкой в
        нескольких местах так, чтобы вода, находящаяся на поверхности,
        прошла на дно. Затем накрыть плов и дать ему упреть 20–25 мин.</p>
    <p>Тщательно перемешайте готовый плов, переложите в большое блюдо,
        сверху разложите мясо.</p>
    <h2>Плов по-фергански</h2>
    <p>Положить в казан нарезанное кусочками мясо и поджарить его до
        образования корочки. Нашинкованный кольцами лук жарить вместе
        с мясом до красноватого цвета, затем добавить морковь, нарезанную
        соломкой. Положить половину соли, всё перемешать и жарить, пока
        морковь не приобретёт золотисто-коричневый цвет. После этого налить
        половину необходимого количества воды и дать закипеть.</p>
    <p>Засыпать ровным слоем рис, усилить огонь и тотчас налить воду,
        чтобы она накрыла рис на 1–1,5 см. Как только вода выпарится, плов
        при помощи шумовки собрать к середине горкой, проколоть палочкой в
        нескольких местах так, чтобы вода, находящаяся на поверхности,
        прошла на дно. Затем накрыть плов и дать ему упреть 20–25 мин.</p>
    <p>Тщательно перемешайте готовый плов, переложите в большое блюдо,
        сверху разложите мясо.</p>
    <h2>Плов по-фергански</h2>
    <p>Положить в казан нарезанное кусочками мясо и поджарить его до
        образования корочки. Нашинкованный кольцами лук жарить вместе
        с мясом до красноватого цвета, затем добавить морковь, нарезанную
        соломкой. Положить половину соли, всё перемешать и жарить, пока
        морковь не приобретёт золотисто-коричневый цвет. После этого налить
        половину необходимого количества воды и дать закипеть.</p>
    <p>Засыпать ровным слоем рис, усилить огонь и тотчас налить воду,
        чтобы она накрыла рис на 1–1,5 см. Как только вода выпарится, плов
        при помощи шумовки собрать к середине горкой, проколоть палочкой в
        нескольких местах так, чтобы вода, находящаяся на поверхности,
        прошла на дно. Затем накрыть плов и дать ему упреть 20–25 мин.</p>
    <p>Тщательно перемешайте готовый плов, переложите в большое блюдо,
        сверху разложите мясо.</p>
</div>

<script type="text/javascript" src="/js/sidebar.js"></script>
<script type="text/javascript" src="/js/header.js"></script>
<script type="text/javascript" src="/js/footer.js"></script>
</body>
</html>