<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>profile</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/profile/profileStyles.css">
    <script src="/js/authorization.js"></script>
</head>

<body style="height: 1000px;">
<div class="container" id="profileMainCont">
    <div class="row" id="profileMainRow">
        <div class="col-xxl-2 d-xxl-flex justify-content-xxl-center align-items-xxl-center" id="profileMainCol1">
            <a class="d-xxl-flex" id="profileMainCol1Link1" href="#"></a></div>
        <div class="col-xxl-6" id="profileMainCol2">
            <h2 id="profileMainCol2Head1">Kata User</h2>
            <div class="d-flex" id="profileMainCol2div1">
                <h6 id="profileMainCol2h1"><span style="color: var(--fc-light) ;">Member for&nbsp;14 days</span><br><br>
                </h6>
                <h6 id="profileMainCol2h2"><span style="color: var(--_bu-fc); background-color: var(--_bu-bg);">Last seen this week</span><br><br><br>
                </h6><a class="d-xxl-flex" id="profileMainCol2Link" href="#">
                <span style="color: var(--_bu-fc); background-color: var(--_bu-bg);">Visited 11 days, 1 consecutive</span><br><br></a>
            </div>
        </div>
        <div class="col d-xl-flex d-xxl-flex align-items-xxl-start" id="profileMainCol3">
            <a class="border rounded border-2" id="profileMainCol3Link1" href="#">Edit profile</a>
            <a class="border rounded border-2" id="profileMainCol3Link2" href="#">Network profile</a></div>
    </div>
    <div class="row" id="Row2">
        <div class="col d-xxl-flex align-items-xxl-start" id="Row2Col1">
            <a class="border rounded-pill" id="Row2Col1Link1" href="#">Profile</a><a
                id="Row2Col1Link2" href="#">Activity</a>
            <a id="Row2Col1Link3" href="#">Saves</a><a id="Row2Col1Link4" href="#">Settings</a>
        </div>
    </div>
    <div class="row" id="Row3">
        <div class="col" id="Row3Col1">
            <h5 id="Row3H1">Stats</h5>
            <div class="border rounded d-xxl-flex" id="Row3Div1">
                <div class="d-xxl-flex flex-column" id="Row3Div2">
                    <p class="d-xxl-flex align-items-xxl-center" id="Row3Div1P1">1<br>reputation</p>
                    <p class="d-xxl-flex align-items-xxl-center" id="Row3Div1P2">0<br>answers</p>
                </div>
                <div class="flex-column" id="Row3Div3">
                    <p class="d-xxl-flex align-items-xxl-center" id="Row3Div1P3">0<br>reached</p>
                    <p class="d-xxl-flex align-items-xxl-center" id="Row3Div1P4">0<br>questions</p>
                </div>
            </div>
        </div>
        <div class="col" id="Row3Col2">
            <h5 id="Row3Col2H1">About</h5>
            <div class="border rounded d-xxl-flex justify-content-xxl-center align-items-xxl-center" id="Row3Col2Div1">
                <p class="d-xxl-flex flex-grow-1 justify-content-xxl-center" id="Row3Col2Div1Par1">
                    <span style="color: rgb(106, 115, 124);">Your about me section is currently blank. Would you like to add one?</span><br>
                    <a id="Row3Col2Div1Link1" href="#">Edit profile</a></p>
            </div>
            <h5 id="Row3Col2H2">Badges</h5>
            <div class="border rounded d-xxl-flex justify-content-xxl-center align-items-xxl-center" id="Row3Col2Div2">
                <p class="d-xxl-flex flex-grow-1 justify-content-xxl-center" id="Row3Col2Div2Par1">
                    <span style="color: rgb(106, 115, 124);">You have not earned any</span><br>
                    <a class="d-xxl-flex" id="Row3Col2Div2Link1" href="#">badges.</a></p>
            </div>
            <h5 id="Row3Col2H3">Posts</h5>
            <div class="border rounded d-xxl-flex flex-column justify-content-xxl-center align-items-xxl-center"
                 id="Row3Col2Div3">
                <img class="d-xxl-flex" id="Row3Col2Div3Image" src="../../images/profile/diskImg.png" width="210"
                     height="182">
                <p class="d-xxl-flex align-items-xxl-center" id="Row3Col2Div3Par1"><br>
                    <span style="color: rgb(106, 115, 124);">Just getting started? Try answering a question!</span><br><br>
                </p>
                <p id="Row3Col2Div3Par2"><br><span style="color: rgb(106, 115, 124);">Your most helpful questions, answers and tags will appear here. Start by&nbsp;</span>
                    <a href="#"><span style="color: var(--theme-link-color);">answering a question</span></a><span
                            style="color: rgb(106, 115, 124);">&nbsp;or</span><span
                            style="color: rgb(106, 115, 124); background-color: rgb(248, 249, 249);">&nbsp;</span>
                    <a href="#">
                        <span style="color: var(--theme-link-color); background-color: rgb(248, 249, 249);"></span>
                        <span style="background-color: rgb(248, 249, 249);">selecting tags</span></a>
                    <span style="color: rgb(106, 115, 124);">&nbsp;that match topics you’re interested in.</span><br><br>
                </p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/sidebar.js"></script>
<script type="text/javascript" src="/js/header.js"></script>
<script type="text/javascript" src="/js/footer.js"></script>
</body>

</html>