<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>question</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/question/questionStyles.css">
</head>

<body style="height: 1300px;">
<div class="container" id="questionMainCont">
    <div class="row" id="questionMainRow">
        <div class="col" id="questionMainColumn1">
            <p id="questionMainContPar1">Theme of question: Why java is the best language?</p>
            <div class="d-xl-flex justify-content-xl-start" id="questionMainContDiv1">
                <p id="questionMainContPar2">Asked today</p>
                <p id="questionMainContPar3">Modified today</p>
                <p id="questionMainContPar4">Viewed 100 times</p>
            </div>
        </div>
        <div class="col d-xl-flex justify-content-xl-start align-items-xl-start" id="questionMainColumn2">
            <button class="btn btn-primary float-end" id="QuestionAskBut" type="button">Ask Question</button>
        </div>
    </div>
    <div class="row" id="questionMainRow2">
        <div class="col" id="questionRow2Col1">
            <button class="btn btn-primary d-xl-flex justify-content-xl-center" id="butArrowUp" type="button"></button>
            <h1 class="d-xl-flex justify-content-xl-center align-items-xl-center" id="rating">+3</h1>
            <button class="btn btn-primary d-xl-flex justify-content-xl-center" id="butArrowDown"
                    type="button"></button>
            <button class="btn btn-primary" id="butBookmark" type="button"></button>
            <button class="btn btn-primary" id="butActivity" type="button"></button>
        </div>
        <div class="col-xl-7" id="questionRow2Col2">
            <p id="questionRow2Col2Par1"><br>
                <span style="color: rgb(22, 22, 22);">Java™ has significant advantages
                over other languages and environments that make it suitable for just about any programming task.
                The advantages of Java are as follows:Java is easy to learn.Java was designed to be easy to use and
                is therefore easy to write, compile, debug, and learn than other programming languages.Java is
                object-oriented.This allows you to create modular programs and reusable code.Java is
                platform-independent.One of the most significant advantages of Java is its ability to move
                easily from one computer system to another. The ability to run the same program on many different
                systems is crucial to World Wide Web software, and Java succeeds at this by being platform-independent
                at both the source and binary levels.Because of Java's robustness, ease of use, cross-platform
                capabilities and security features, it has become a language of choice for providing worldwide
                Internet solutions.</span><br><br>
            </p>
            <div id="divTagLinks">
                <a class="border rounded" id="tagLink1" href="#" rel="tag"
                   style="padding: 5px;">Java</a><a class="border rounded" id="tagLink2" href="#"
                                                    rel="tag" style="padding: 5px;">Another Tag</a>
            </div>
        </div>
        <div class="col-xl-2" id="questionRow2Col3">
            <div class="border rounded" id="rightColumnDiv1">
                <div id="rightColumnDiv2">
                    <p class="border rounded-0" id="rightColumnDivPar1">The overflow Blog</p>
                </div>
                <div class="d-table" id="rightColumnDiv3">
                    <p id="rightColumnDivPar2">The people most affected by the tech layoffs<br></p>
                    <p id="rightColumnDivPar3">How to keep the servers running when your Mastodon goes viral</p>
                </div>
                <div class="border rounded-0" id="rightColumnDiv4">
                    <p id="rightColumnDivPar4"
                       style="margin-top: 5px;margin-left: 10px;font-size: 14px;font-weight: bold;">Featured on Meta</p>
                </div>
                <div id="rightColumnDiv5">
                    <p id="rightColumnDivPar5">Do you observe increased relevance of Related Questions with our
                        Machine...</p>
                    <p id="rightColumnDivPar6">Temporary policy: ChatGPT is banned</p>
                    <p id="rightColumnDivPar7">Plagiarism flag and moderator tooling has launched to Stack Overflow!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="questionMainRow3" style="height: 100px;">
        <div class="col-xl-8 d-inline-block d-xl-flex" id="questionRow3Col1" style="height: 100px;">
            <div class="d-xl-flex" id="questionRow3Col1div1">
                <a id="questionRow3Col1div1Link1" href="#">share</a>
                <a id="questionRow3Col1div1Link2" href="#">Improve this question</a>
                <a id="questionRow3Col1div1Link3" href="#">Follow</a></div>
            <div class="d-xl-flex" id="questionRow3Col1div2"><a id="questionRow3Col1div2Link1" href="#">Edited 22 hours
                ago</a></div>
            <div class="d-xl-flex flex-column" id="questionRow3Col1div3">
                <p id="questionRow3Col1div3Par1">asked yesterday</p>
                <div class="d-flex" style="height: 55px;margin-top: 7px;width: 210px;margin-left: 5px;">
                    <a class="fs-3" id="questionRow3Col1div3Link2" href="#"></a>
                    <a id="questionRow3Col1div3Link1" href="#">User</a></div>
            </div>
        </div>
    </div>
    <div class="row d-block" id="questionMainRow4">
        <div class="col" id="questionMainRow3Col1">
            <ul class="list-unstyled" id="listOfComments">
                <li id="commentList1"><br>
                    <div id="commentList1Comment1"><span id="commentSpan">Nothing at all. And that’s why it dominates.&nbsp;
                        <br>There is nothing special about Java. It is a simple, straightforward language that
                        says what it means and means what it says. Whilst not as old as Python, nor JavaScript,
                        it is nevertheless a long serving language with an entire generation of skilled developers
                        confident in using it.</span>
                        <div id="commentList1Author1">
                            <a id="commentAuthorLink" href="#">User</a><span id="whenSpan">yesterday</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col" id="questionMainRow3Col2"><a id="questionMainRow3Col2Link1" href="#">Add a comment</a></div>
        <div class="col" id="questionMainRow3Col3">
            <p id="questionMainRow3Col3div1Par"><span style="color: rgb(35, 38, 41);">Related questions</span><br><br>
            </p>
            <div class="border rounded" id="questionMainRow3Col3div1">
                <div class="border rounded-0 d-flex align-items-xxl-center" id="RelQuestDiv1">
                    <div class="border rounded d-xxl-flex justify-content-xxl-center align-items-xxl-center"
                         id="RelQuestDiv1Div1"><a id="RelQuestDiv1Div1Rate1" href="#">220</a></div>
                    <div class="d-xxl-flex align-items-xxl-center" id="RelQuestDiv1Div2">
                        <a id="RelQuestDiv1Div1Link1" href="#">What a difference
                            between Java and Python?</a></div>
                </div>
                <div class="border rounded-0 d-xxl-flex align-items-xxl-center" id="RelQuestDiv2">
                    <div class="border rounded d-xxl-flex justify-content-xxl-center align-items-xxl-center"
                         id="RelQuestDiv2Div1"><a id="RelQuestDiv1Div2Rate1" href="#">17</a></div>
                    <div class="d-xxl-flex align-items-xxl-center" id="RelQuestDiv2Div2">
                        <a id="RelQuestDiv1Div2Link1" href="#">Java problems</a>
                    </div>
                </div>
                <div class="border rounded-0 d-xxl-flex align-items-xxl-center" id="RelQuestDiv3">
                    <div class="border rounded d-xxl-flex justify-content-xxl-center align-items-xxl-center"
                         id="RelQuestDiv3Div1"><a id="RelQuestDiv1Div3Rate1" href="#">-5</a></div>
                    <div class="d-xxl-flex align-items-xxl-center" id="RelQuestDiv3Div2">
                        <a id="RelQuestDiv1Div3Link1" href="#">Python is best</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" id="questionMainRow3Col4">
            <p id="questionMainRow3Col4Par1">Your Answer</p>
            <form id="questionMainRow3Col4Form">
                <textarea class="form-control" id="questionMainRow3Col4TextArea"></textarea>
                <button class="btn btn-primary" id="questionMainRow3Col4Button" type="button">Post Your Answer</button>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/sidebar.js"></script>
<script type="text/javascript" src="/js/header.js"></script>
<script type="text/javascript" src="/js/footer.js"></script>

</body>

</html>